<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        É tudo a mesma bosta
    </title>
    {{ partial "head.html" . }}
</head>

<body>
<div class="flexWrapper">
    {{ partial "header.html" . }}
    <div class="content vertical">
        <main class="main">
            <div class="indexWrapper">
                <div>
                    <img src="/etamb.png" alt="etamb" style="width: 80%; max-width: 800px; height: auto;">
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
